<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <div class="card">
                <div class="card-body text-center">
                    <span class="titulo"> Listar Productos</span>
                    <button class="btn btn-success float-end">Nuevo</button>
                    <table class="table table-striped mt-3">
                        <thead>
                          <tr>
                            <th scope="col">Producto</th>
                            <th scope="col">Categoría</th>
                            <th scope="col">Ubicación</th>
                            <th scope="col">Precio</th>
                            <th scope="col"></th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td scope="row">Laptop HP</td>
                            <td>Electrónica</td>
                            <td>Tegucigalpa</td>
                            <td>15,000</td>
                            <td></td>
                          </tr>
                          <tr>
                            <td scope="row">Skinny Jeans</td>
                            <td>Moda</td>
                            <td>San Pedro Sula</td>
                            <td>850</td>
                            <td></td>
                          </tr>
                          <tr>
                            <th scope="row">3</th>
                            <td colspan="2">Larry the Bird</td>
                            <td>@twitter</td>
                          </tr>
                        </tbody>
                      </table>
                </div>
            </div>
        </div>

    </div>

</div>
